.qa-heading {
    font-weight: 800;
    font-size: 28px;
    font-style: italic;
    margin-bottom: 20px;
}

.ques {
    font-size: 20px;
    font-weight: 700;
    color: #98240C;
}

.ans {
    text-align: justify;
    font-size: 18px;
    color: #111;
    font-weight: 400;
}



/* Responsive */
@media screen and (max-width: 576px) {
    .qa-heading {
        font-size: 16px;
    }

    .ques {
        font-size: 14px;
    }

    .ans {
        font-size: 14px;
        text-align: start;
    }
}